@model List<SignalRChat.Models.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var product in Model)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
            }
        }

    </tbody>
</table>

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/productHub").build();

    connection.on("ReceiveProductMessage", function (message) {
        console.log(message);
    });

    connection.start().then(function () {
        console.log("Bağlantı başarılı");
    }).catch(function (err) {
        return console.error(err.toString());
    });
</script>